<!DOCTYPE html>
{% load i18n %}
<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>

$( document ).ready(function() {

	$( "#savebtn" ).click(function() {
	  	form.submit();
	  	window.close();
	});

});
</script>

<script type="text/javascript" src="/static/translatable_content/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2: "print preview media | forecolor backcolor emoticons",
    image_advtab: true,
    templates: [
        {title: 'Test template 1', content: 'Test 1'},
        {title: 'Test template 2', content: 'Test 2'}
    ]
});
</script>



</head>
<body class="change-form">

<!-- Container -->
<div id="container">
    
    <!-- Header -->
    <div id="header">
        <div id="branding">
	  	<h1 id="site-name">{% trans  "Translation Page" %}</h1>
        </div>
    </div>
    <!-- END Header -->
    
    <!-- Content -->
    <div id="content" class="colM">
        <h1>{% trans  "Set the translations" %}</h1>
        <div id="content-main">
		<form action="{{ request.get_full_path }}" method="post" class="clearfix">{% csrf_token %}
			<div>
				<fieldset class="module aligned ">
					{% for rec in recs %}
					<div class="form-row ">
						<div>
							<div class="required" style="font-weight:bold;font-size: 13px;">{{ rec.language.1 }}:</div>
							{% if flag == 'str' %} 
								<input id="id_{{ rec.language.0 }}" name="{{ rec.language.0}}" type="text" value="{{ rec.word }}">
							{% else %}
								<textarea id="id_{{ rec.language.0 }}" name="{{ rec.language.0}}" cols="40" rows="20">{{ rec.word }}</textarea>
							{% endif %}
						</div>
					</div>
					{% endfor %}    
				</fieldset>
				<div class="submit-row">
					<input type="submit" value="{% trans "Save" %}" class="default" name="_save" id ="savebtn" />
					<input type="submit" value="{% trans "Save and continue editing" %}" name="_continue" />
				</div>
			</div>
		</form>
	</div>
        <br class="clear" />
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>

