<!DOCTYPE html>
<html>
<head>
{% load i18n %}
<link rel="stylesheet" type="text/css" href="/static/translatable_content/tablestyle.css" >
</head>	
<body>	
<form action="{{ request.get_full_path }}" method="post" class="clearfix">{% csrf_token %}
<table class="CSSTableGenerator">
	<tr>
		<th>{% trans  "Language" %}</th>
		<th>{% trans "Translation String" %}</th>
	</tr>
	{% for rec in recs %}
	<tr>
		<td>{{ rec.language.1 }}</td>
		<td><input id="id_{{ rec.language.0 }}" name="{{ rec.language.0}}" type="text" value="{{ rec.word }}"></td>
	</tr>	
	{% endfor %}
	<tr>
		<td><input type="submit" value="Submit"></td><td></td>
	</tr>	
</table>
<form>
</body>
</html>
